@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif ;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__perfil {
    width: 15vw;
    height: 15vw;

    background-image: url(../img/fotoperfil.png);
    background-position: center;
    background-size: cover;

    border-radius: 100%;
    border-style: solid;
    border-color: black;
}

.container__texto {
    text-align: center;
}

.container__midias {
    display: flex;
    height: 40px;
}

.container__midias__img {
    width: 2vw;
    height: 2vw;

    margin-right: 20px;
    margin-top: 5px;
}

.container__midias__img:hover {
    width: 2.2vw;
    height: 2.2vw;
}

.container__links {
    margin-right: 16px;
}

/* Abrir fechar modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal>div {
    width: 50vw;
    position: relative;
    margin: 5% auto;
    padding: 15px 20px;
    background: #fff;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}

/* ---- */